[mysqld]
# Logging
general_log=1
general_log_file=/var/log/mysql/mysql_general.log
log_error=/var/log/mysql/mysql_error.log

# Use MSQL Native Authentication
default_authentication_plugin=mysql_native_password

# Run MySQL as unprivileged user
user=mysql

# Set explicit defaults for timestamp
explicit_defaults_for_timestamp=1

# Run with SSL
# require_secure_transport=1

# skip-name-resolve
